.vsil-gallery {
    border-collapse: collapse;
    width: 100%;

    td,
    th {
        text-align: left;
    }

    thead {
        display: table-header-group;

        th {
            &:not(:first-child) {
                border-left: 2px solid #fff;
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #000;
            display: block;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
}
